/* Buttons
=================================== */
a.wp-block-button__link,
 .btn,
 .comment-reply-link,
 input[type="button"],
 input[type="submit"],
 input[type="reset"],
 button{
    display: inline-block;
    font-weight: normal;
    @include margin (0,0,0,0);
    line-height:normal;
    box-shadow: none;
    text-align:center;
    vertical-align: middle;
    cursor:pointer;
    white-space: nowrap;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    border-radius: 0;
    width: auto;
    height:auto;
    background-image:none;
    @include button-properties();
    @include transitions();
    font-size:14px;
    letter-spacing: 2px;

 }

 .btn {
    &:active, &:focus {
      border-color: #aaa #bbb #bbb;
    }
  }
  

 .comment-reply-link {
    &:active, &:focus {
      border-color: #aaa #bbb #bbb;
    }
  }
  
  input {
    &[type="button"] {
      &:active, &:focus {
        border-color: #aaa #bbb #bbb;
      }
    }
    &[type="reset"] {
      &:active, &:focus {
        border-color: #aaa #bbb #bbb;
      }
    }
    &[type="submit"] {
      &:active, &:focus {
        border-color: #aaa #bbb #bbb;
      }
    }
  }

 textarea:focus,
 input:focus{
     box-shadow: 0 0 6px rgba(0, 200, 222, 0.20);
     background-color: rgba(250, 250, 250, 0.3);
 }

 input[type="submit"]{
     @include button-color();
     &:hover{
        @include button-hover();
    }
 }