/* Post Nagination
=================================== */

.pagination-single {
  display: flex;
  flex-direction: column;
  @include margin (45px, null, null, null);
  @include padding (66px, 0, 64px, 0);
  a {
    align-items: baseline;
    color: inherit;
    display: flex;
    text-decoration: none;
    + a {
      @include margin (15px, null, null, null);
    }
    .arrow {
      @include margin (null, 15px, null, null);
    }
    &:hover .title {
      text-decoration: underline;
      color:$secondary-color;
    }
  }
}

@media ( min-width:$screen-sm-min ) {

.pagination-single {
  flex-direction: row;
  justify-content: space-between;
  @include margin (25px, null, null, null);
}

.pagination-single.only-next {
  justify-content: flex-end;
}

.pagination-single a + a {
  @include margin (0, 0, 0, 34px);
}

.pagination-single a .arrow {
  @include margin (null, 15px, null, null);
}

.pagination-single .next-post {
  flex-direction: row-reverse;
  text-align: right;
}

.pagination-single .next-post .arrow {
  @include margin (null, null, null, 15px);
}
}