/* Related
=================================== */
.entry-related{
    @include margin (35px, null, null, null);
    h3.section-title{
        @include title-upperline ();
     }
    }

.entry-item-related{
    text-transform: uppercase;
    font-size:14px;
    @include margin (null, null, 20px, null);

    h1.entry-item-title{
        font-size:18px;
    }
}
