/* Entry Tags
=================================== */
.entry-tags a{
    font-size: 14px;
    @include button-color();
    text-transform:uppercase;
    @include padding (9px, 9px, 9px, 9px);
    letter-spacing:0.03rem;
    display: inline-block;
    @include margin (null, null, 10px, 10px);
    &:hover{
        @include button-hover();
    }
}